* {
    
    font-family: "Synchro LET", monospace;
    font-weight: bold;
    font-size: x-large;
}
body {
    background-color: black

}
#main {
    background-color: black;
    margin: 0;
}
.sprite {
}
.piranha {
    z-index: 2;
    position:absolute;
    width: 32px;
    height: 32px;
    background-size: 100%;
    background-image: url("../img/liakad_piranha_03.png");
}
.dying {
    width: 0px !important;
    height: 0px !important;
    transition: all 1s;
}
.dead {
}
.sombrero {
    z-index: 1;
    position:absolute;
    width: 32px;
    height: 32px;
    background-size: 100%;
    background-image: url("../img/sombrero_dave_pena_03.png");
}

.score {
    color: red;
    width: 100%;
    text-align: center;
    position: absolute;
}
.result {
    z-index: 3;
    left: 0pt;
    top: 0pt;
    position:absolute;
    text-align: center;
    padding-top: 30%;
    width: 100%;
    height: 100%;
}
.hidden {
    display: none;
}

/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:red;
  display:none;
  opacity:0.5;
  top: 0;
  left: 0;
}
   
#dialog{
  position:absolute;
  display:none;
  z-index:9999;
  padding:20px;
  text-align: center;
}
#restart{
  cursor: pointer;
}
 
#scoreFinal {
  color : red;
}
